$colors: (
    common: (
        white: #ffffff,
        black: #121212,
        light-white: #CFCFCF,
        background: #EDEFF3,
        border: #C4C4D0,
    ),
    heading: (
        primary: #121212,
        secondary: #000000,
    ),
    grey: (
        1:#5B5A66,
        2:#575757,
    ),
    text: (
        body:#42414A,
    ),
    theme: (
        primary: #267668, 
        secondary: #121212,
    ),
    border: (
        1: #3A393A,
        2: #5B5A66,
    ),
    bg: (
        1: #FFFBEF,
        page: #F9FEFF,
    )
);